.Puntuation {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .Puntuation {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .Puntuation {
    font-size: 12px;
  }
}
